{% extends "base.html" %}

{% load auditor %}

{% block extra_nav %}
  <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="">
        <i alt="Limit" class="icon-resize-horizontal"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a class="text-right" href="?page={{page}}&limit=10">10</a></li>
        <li><a class="text-right" href="?page={{page}}&limit=25">25</a></li>
        <li><a class="text-right" href="?page={{page}}&limit=50">50</a></li>
        <li><a class="text-right" href="?page={{page}}&limit=100">100</a></li>
      </ul>
  </li>
{% endblock %}


{% block content %}
  <table id="event-table" class="table table-condensed table-hover">
    <tbody>
      <tr>
        <th class="event-expander">&nbsp;</th>
        <th class="event-summary">Summary</th>
        <th class="event-user">User</th>
        <th class="event-tags">Tags</th>
        <th class="event-level">Level</th>
        <th class="event-start">Start</th>
        <th class="event-end">End</th>
      </tr>

      {% for event in events %}

        <tr id="event-row-{{event.id}}" class="event-row">
          <td class="event-expander">
            <a data-toggle="collapse" data-target="#collapse-event-{{event.id}}" class="btn">
              <i class="icon-level-down"></i>
            </a>
          </td>
          <td class="event-summary"><span title="{{event.summary}}">{{event.summary|truncatechars:90}}</span></td>
          <td class="event-user">{{event.user}}</td>
          <td class="event-tags">{{event.tags}}</td>
          <td class="event-level">{{event.level}}</td>
          <td class="event-start">{{event.start}}</td>
          <td class="event-end">{{event.end|default_if_none:""}}</td>
        </tr>

        <tr id="event-row-details-{{event.id}}" class="event-row-details">
          <td class="event-extend" colspan="7">
            <div id="collapse-event-{{event.id}}" class="collapse collapse-event">
              <div id="event-details-{{event.id}}" class="event-details"></div>
            </div>
          </td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
  <div class="pagination pagination-centered">
    <div>Page {{ events.number }} of {{ events.paginator.num_pages }}.</div>
    <ul>
      {% if page == 1 %}
        <li class="disabled"><a><i class="icon-double-angle-left"></i></a></li>
      {% else %}
        <li><a href="?limit={{limit}}"><i class="icon-double-angle-left"></i></a></li>
      {% endif %}

      {% if events.has_previous %}
        <li><a href="?page={{events.previous_page_number}}&limit={{limit}}"><i class="icon-angle-left"></i></a></li>
      {% else %}
        <li class="disabled"><a><i class="icon-angle-left"></i></a></li>
      {% endif %}

      {% if events.has_next %}
        <li><a href="?page={{events.next_page_number}}&limit={{limit}}"><i class="icon-angle-right"></i></a></li>
      {% else %}
        <li class="disabled"><a><i class="icon-angle-right"></i></a></li>
      {% endif %}

      {% if page == num_pages %}
        <li class="disabled"><a><i class="icon-double-angle-right"></i></a></li>
      {% else %}
        <li><a href="?page={{num_pages}}&limit={{limit}}"><i class="icon-double-angle-right"></i></a></li>
      {% endif %}
    </ul>
</div>
{% endblock %}

{% block script %}
  <script type="text/javascript">

    var socket = io.connect("http://localhost:8001");

    socket.emit("subscribe", {"type": "event"})

    function atBottom(elem){
        return (elem[0].scrollHeight - elem.scrollTop()) === elem.innerHeight();
    }

    function updateRow(row, data){
        row.find('td').each(function(idx, elem){
            var td = $(elem);
            if (td.hasClass("event-expander")){
                td.find("a").attr("data-target", "#collapse-event-" + data.id);
            }
            if (td.hasClass("event-summary")) td.html(data.summary || "");
            if (td.hasClass("event-user")) td.html(data.user || "");
            if (td.hasClass("event-tags")) td.html(data.tags || "");
            if (td.hasClass("event-level")) td.html(data.level || "");
            if (td.hasClass("event-start")){
                if (data.start) {
                    td.html(moment(data.start).format());
                } else {
                    td.html("");
                }
            }
            if (td.hasClass("event-end")){
                if (data.end) {
                    td.html(moment(data.end).format());
                } else {
                    td.html("");
                }
            }
        });
    }


    socket.on('auditor.event.new', function(data){
        var data = $.parseJSON(data);
        var new_row = $(".event-row:first").clone(true);

        var new_row_details = "";
        new_row_details += "<tr id='event-row-details-" + data.id + "' class='event-row-details'>";
        new_row_details += "  <td class='event-extend' colspan='7'>";
        new_row_details += "    <div id='collapse-event-" + data.id + "' class='collapse collapse-event'>";
        new_row_details += "      <div id='event-details-" + data.id + "' class='event-details'></div>";
        new_row_details += "    </div>";
        new_row_details += "  </td>";
        new_row_details += "</tr>";


        new_row.attr('id', 'event-row-' + data.id);
        new_row.css('display', 'none');

        updateRow(new_row, data);

        if ($(".event-row").length >= 50){
            $(".event-row").last().remove()
            $(".event-row-details").last().remove()
        }
        $(".event-row:first").before(new_row);
        new_row.after(new_row_details);
        new_row.stop().fadeTo(800, 1)
    });


    socket.on('auditor.event.update', function(data){
        var data = $.parseJSON(data);
        var row = $("#event-row-" + data.id);
        row.stop().fadeTo(100, .3, function(){
            updateRow(row, data);
            row.stop().fadeTo(400, 1);
        });

    });

    socket.on('auditor.event_details.new', function(data){
        data = $.parseJSON(data);
        if (data.type === "attribute") {
            var elem = $("#event-attribute-" + data.event_id);
            if (elem.hasClass("no-attributes")){
                elem.html("");
                elem.removeClass("no-attributes");
            }

            $.each(data.data, function(key, value){
                var span = elem.find("span#attribute-" + data.event_id + "-" + key);
                if (!span.length) {
                    elem.append(
                        "<div><b>" + key +
                        ":</b> <span id='attribute-" + data.event_id +
                        "-" + key +"'></span></div>");
                }
                span = elem.find("span#attribute-" + data.event_id + "-" + key);
                if (data.op_type == "append"){
                    if (!!span.html().length) span.append(", ");
                    span.append(value);
                } else {
                    span.html(value);
                }
            });
        } else if (data.type === "details") {
            var elem = $("#event-details-text-" + data.event_id);
            if (atBottom(elem)){
                elem.html(data.data);
                elem.stop().scrollTop(elem[0].scrollHeight);
            } else {
                elem.html(data.data);
            }
        }
    });

    socket.on('auditor.event_details.append', function(data){
        data = $.parseJSON(data);
        if (data.type === "attribute") {
            var elem = $("#event-attribute-" + data.event_id);
            if (elem.hasClass("no-attributes")){
                elem.html("")
                elem.removeClass("no-attributes")
            }
            $.each(data.data, function(key, value){
                var span = elem.find("span#attribute-" + data.event_id + "-" + key);
                if (!span.length) {
                    elem.append(
                        "<div><b>" + key +
                        ":</b> <span id='attribute-" + data.event_id +
                        "-" + key +"'></span></div>");
                }
                span = elem.find("span#attribute-" + data.event_id + "-" + key);
                if (data.op_type == "append"){
                    if (!!span.html().length) span.append(", ");
                    span.append(value);
                } else {
                    span.html(value);
                }
            });

        } else if (data.type === "details") {
            var elem = $("#event-details-text-" + data.event_id);
            if (elem.hasClass("no-details")){
                elem.html("");
                elem.removeClass("no-details");
            }
            if (atBottom(elem)){
                elem.append(data.data);
                elem.stop().scrollTop(elem[0].scrollHeight);
            } else {
                elem.append(data.data);
            }
        }
    });

    $("#event-table").on('show', '.collapse-event', function(event){
        var obj = $(this).find('.event-details');
        var event_id = obj.attr("id").split("-")[2];
        if (obj.hasClass("filled")) return;

        $.get("/event/" + event_id + "/details/", function(data){
            socket.emit("subscribe", {"type": "event_details", "event_id": event_id})
            obj.find(".icon-spinner").remove();
            obj.addClass("filled");

            var msg = "";

            msg += "<h4>Attributes:</h4>"
            if ($.isEmptyObject(data.data.attributes)){
                msg += '<blockquote id="event-attribute-' + event_id  + '" class="event-attribute no-attributes">'
                msg += 'No Attributes...'
                msg += '</blockquote>'
            } else {
                msg += '<blockquote id="event-attribute-' + event_id  + '" class="event-attribute">'
                $.each(data.data.attributes, function(key, value){
                    if ($.isArray(value)) value = value.join(", ");
                    msg += "<div><b>" + key + ":</b> <span id='attribute-" + event_id + "-" + key +"'>" + value + "</span></div>";
                });
                msg += '</blockquote>'
            }

            msg += "<h4>Details:</h4>";
            if (!data.data.details){
                msg += '<blockquote>'
                msg += '<pre id="event-details-text-' + event_id + '" class="event-details-text no-details">'
                msg += 'No Details...'
                msg += '</pre></blockquote>'
            } else {
                msg += '<blockquote>'
                msg += '<pre id="event-details-text-' + event_id + '" class="event-details-text">'
                msg += data.data.details
                msg += '</pre></blockquote>'
            }
            obj.append(msg);

            var elem = $("#event-details-text-" + event_id);
            elem.stop().scrollTop(elem[0].scrollHeight);
        });
    });
  </script>
{% endblock %}
