{% extends "base.html" %}

{% load auditor %}

{% block content %}
  <table class="table table-condensed table-hover">
    <tbody>
      <tr>
        <th class="event-expander">&nbsp;</th>
        <th class="event-summary">Summary</th>
        <th class="event-progress">Progress</th>
        <th class="event-user">User</th>
        <th class="event-tags">Tags</th>
        <th class="event-start">Start</th>
        <th class="event-end">End</th>
      </tr>

      {% for event in events %}

        <tr>
          <td class="event-expander">
            <a data-toggle="collapse" data-target="#collapse-event-{{event.id}}" class="btn">
              <i class="icon-level-down"></i>
            </a>
          </td>
          <td class="event-summary">{{event.summary}}</td>
          <td class="event-progress">
            <div data-toggle="tooltip"
                 title="Tasks: {{event.task_nums.Total}}
Success: {{event.task_nums.Success|default:0}}
Failed: {{event.task_nums.Failed|default:0}}">
              {% if event.task_nums.Total %}
                <div class="progress progress-striped active">
                  <div class="bar bar-success" style="width: {{event.task_nums.Success|perc_of:event.task_nums.Total}}%;"></div>
                  <div class="bar bar-danger" style="width: {{event.task_nums.Failed|perc_of:event.task_nums.Total}}%;"></div>
                </div>
              {% else %}
                <div class="progress">
                  {% if event.end %}
                    <div class="bar bar-success" style="width: 100%;"></div>
                  {% else %}
                    <div class="bar" style="width: 0%;"></div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </td>
          <td class="event-user">{{event.user}}</td>
          <td class="event-tags">{{event.tags}}</td>
          <td class="event-start">{{event.start}}</td>
          <td class="event-end">{{event.end|default_if_none:""}}</td>
        </tr>

        <tr>
          <td class="event-extend" colspan="8">
            <div id="collapse-event-{{event.id}}" class="collapse collapse-event">
              <div id="event-{{event.id}}" class="tasks"></div>
            </div>
          </td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    var socket = io.connect("http://localhost:8001");

    socket.on('event', function(data){
        console.log(data);
    });

    $(".collapse-event").on('show', function(event){
        var obj = $(this).find('.tasks');
        if (obj.hasClass("loading") || obj.hasClass("filled")) return;
        obj.addClass("loading");
        obj.append('<i class="icon-spinner icon-spin icon-2x"></i>');
    });
  </script>
{% endblock %}
