<tr id="event-details-row-{{event.id}}" class="event-details-row">
  <td class="event-extend" colspan="7">
    <div id="toggle-details-{{event.id}}" class="collapse toggle-details">
      <div id="event-details-{{event.id}}" class="event-details"></div>
    </div>
  </td>
</tr>
